.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.hidden-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.thin-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(100, 100, 100, 0.5) transparent; /* Firefox */
}

.thin-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 2px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}
