@import 'tailwindcss';

@theme {
  --color-dark-base: #171717;
  --color-dark-surface: #212121;
  --color-dark-elevated: #2a2a2a;
  --color-dark-input: #2f2f2f;
  --color-dark-muted: #353535;
  --color-dark-border: #404040;
  --color-dark-border-light: #505050;
}

@layer utilities {
  .app-bg-base {
    @apply bg-gray-300! dark:bg-dark-base!;
  }

  .app-hover-bg-base:hover {
    @apply bg-gray-400! dark:bg-dark-elevated!;
  }

  .app-bg-surface {
    @apply bg-gray-200! dark:bg-dark-surface!;
  }

  .app-hover-bg-surface:hover {
    @apply bg-gray-300! dark:bg-dark-elevated!;
  }

  .app-bg-input {
    @apply bg-white! dark:bg-dark-input!;
  }

  .app-border-input {
    @apply border-gray-400! dark:border-dark-border-light!;
  }

  .app-text {
    @apply text-dark-base! dark:text-gray-100!;
  }

  .app-text-buttons {
    @apply text-gray-600! dark:text-gray-100!;
  }

  .trans-c-200 {
    @apply transition-colors duration-200;
  }
}

@media (prefers-color-scheme: dark) {
  /* SELECT */
  .ant-select {
    color: var(--color-dark-border-light);
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background-color: var(--color-dark-surface);
  }

  .ant-select-arrow .anticon:not(.ant-select-suffix) {
    color: var(--color-dark-border-light);
  }

  .ant-select-dropdown {
    background-color: var(--color-dark-surface);
  }

  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: var(--color-dark-elevated);
  }

  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background-color: var(--color-dark-muted);
  }

  .ant-select-item-option-content {
    color: var(--color-dark-border-light);
  }

  /* DATE RANGE */
  .ant-picker {
    color: var(--color-dark-border-light);
    background-color: var(--color-dark-surface);
  }

  .ant-picker-separator {
    color: var(--color-dark-border-light);
  }

  .ant-picker-suffix {
    color: var(--color-dark-border-light);
  }

  .ant-picker-panel-container {
    background-color: var(--color-dark-surface);
  }

  .ant-picker-header button {
    color: var(--color-dark-muted);
  }

  .ant-picker-header > button:hover {
    color: white;
  }

  .ant-picker-input > input {
    color: var(--color-dark-border-light);
  }

  .ant-picker-content th {
    color: var(--color-dark-border-light);
  }

  .ant-picker-cell {
    color: var(--color-dark-muted);
  }
  .ant-picker-cell:hover,
  .ant-picker-cell .ant-picker-cell-inner:hover {
    background-color: white;
    color: var(--color-dark-base);
  }

  .ant-picker-cell-in-view {
    color: var(--color-dark-border-light);
  }

  /* Button */
  .ant-btn {
    background-color: var(--color-dark-surface);
    color: var(--color-dark-border-light);
  }

  .ant-btn:hover {
    background-color: var(--color-dark-elevated);
    color: white;
    border-color: var(--color-dark-muted);
  }

  /* Table */
  .ant-table-thead > tr > th {
    background-color: var(--color-dark-surface);
    color: var(--color-gray-300);
  }

  .ant-table {
    background-color: var(--color-dark-surface);
    color: var(--color-gray-300);
  }

  .ant-table-tbody > tr.ant-table-row:hover > td,
  .ant-table-tbody > tr > td.ant-table-cell-row-hover {
    background-color: var(--color-dark-elevated);
  }

  /* Pagination */
  .ant-pagination-next .ant-pagination-item-link,
  .ant-pagination-prev .ant-pagination-item-link {
    background-color: var(--color-dark-surface);
    color: var(--color-dark-border-light);
  }

  .ant-pagination-item {
    background-color: var(--color-dark-surface);
  }

  .ant-pagination-item:not(.ant-pagination-item-active) a {
    color: var(--color-dark-border-light);
  }

  /* Modal */
  .ant-modal-header {
    background-color: var(--color-dark-surface);
    .ant-modal-title {
      color: var(--color-dark-border-light);
    }
  }

  .ant-modal-content {
    background-color: var(--color-dark-surface);
  }

  /* Input */
  .ant-input {
    background-color: var(--color-dark-base);
    color: white;
  }
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.hidden-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.thin-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 3px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

p {
  margin: 0;
}

.messages-enter {
  animation: messages-fade-in 500ms ease-out 500ms forwards;
  opacity: 0;
}

@keyframes messages-fade-in {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
