@import "tailwindcss";

@theme {
  --color-dark-base: #171717;
  --color-dark-surface: #212121;
  --color-dark-elevated: #2a2a2a;
  --color-dark-input: #2f2f2f;
  --color-dark-muted: #353535;
  --color-dark-border: #404040;
  --color-dark-border-light: #505050;
}

@layer utilities {
  .app-bg-base {
    @apply bg-gray-200! dark:bg-dark-base!;
  }

  .app-bg-surface {
    @apply bg-gray-300! dark:bg-dark-surface!;
  }

  .app-text {
    @apply text-dark-base! dark:text-gray-100!;
  }

  .trans-c-200 {
    @apply transition-colors duration-200;
  }
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.hidden-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


